.flex {
  display: flex;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwiPHA.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
  color: #293D3D;
}
p {
  font-size: 1.6rem;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
}
h2 {
  font-size: 3.6rem;
  font-weight: bold;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.6rem;
}
a {
  font-size: 1.4rem;
  color: #293D3D;
  text-decoration: none;
}
.nav-container {
  background: #033F4C;
  width: 100%;
  padding-bottom: 1%;
}
.nav-container header {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 24px 0 5px 0;
  width: 95%;
  margin: 0 auto;
}
.nav-container header h2,
.nav-container header a {
  color: #ffffff;
}
.nav-container header nav {
  align-items: flex-end;
}
.nav-container header .left-nav {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
@media (max-width: 850px) {
  .nav-container header .left-nav {
    width: 50%;
  }
}
.nav-container header .right-nav {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}
.nav-container header .right-nav a {
  margin-right: 5%;
}
.foot-container {
  width: 100%;
  background: #c4c4c45c;
}
.foot-container footer {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
  padding: 3% 0;
}
.foot-container footer .footCol {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.foot-container footer .footCol a {
  padding: 5% 0;
}
.about-page {
  background: #c4c4c45c;
}
.about-container {
  margin: 0 auto;
  width: 50%;
}
.about-container img {
  height: 200px;
  width: 200px;
  border-radius: 30%;
  padding: 3% 0;
}
.about-container h1 {
  text-align: center;
  padding-top: 5%;
}
.about-container .normal-person {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4% 0;
  background: #c4c4c4;
  border-radius: 10px;
}
.about-container .normal-person #last {
  margin-bottom: 0;
}
.about-container .normal-person .pContent-left {
  width: 30%;
}
.about-container .normal-person .pContent-right {
  width: 30%;
}
.about-container .normal-person .pContent-right p {
  padding: 5% 0;
}
.about-container .reverse-person {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 4% 0;
  background: #c4c4c45c;
  border-radius: 10px;
}
.about-container .reverse-person .pContent-left {
  width: 30%;
}
.about-container .reverse-person .pContent-right {
  width: 30%;
}
.about-container .reverse-person .pContent-right p {
  padding: 5% 0;
}
.home-page-content {
  background-image: url(../img/mountain-bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.home-page-content .main-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
.home-page-content .main-container .top-box {
  background: #5CA2A9;
  border-radius: 10px;
  margin-top: 5%;
  padding: 4% 0 4% 5%;
}
.home-page-content .main-container .top-box h2 {
  margin: 3% 0;
  color: white;
}
.home-page-content .main-container .top-box h3 {
  margin: 2% 0;
  color: white;
}
.home-page-content .main-container .top-box p {
  color: white;
}
.home-page-content .main-container .bottom-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background: #FFFFFF;
  border-radius: 10px;
}
@media (max-width: 850px) {
  .home-page-content .main-container .bottom-box {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.home-page-content .main-container .bottom-box .left-middle-box {
  width: 35%;
  padding: 0 3%;
}
@media (max-width: 1100px) {
  .home-page-content .main-container .bottom-box .left-middle-box {
    width: 45%;
  }
}
@media (max-width: 850px) {
  .home-page-content .main-container .bottom-box .left-middle-box {
    width: 95%;
  }
}
.home-page-content .main-container .bottom-box .left-middle-box button {
  width: 100%;
  background: #F5CA8A;
  margin-bottom: 15%;
  padding: 4% 0;
  text-align: center;
  border: none;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 850px) {
  .home-page-content .main-container .bottom-box .left-middle-box button {
    margin-bottom: 8%;
  }
}
.home-page-content .main-container .bottom-box .left-middle-box button:hover {
  background: #F9DFB9;
}
.home-page-content .main-container .bottom-box .left-middle-box .inner-icon {
  margin: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-page-content .main-container .bottom-box .left-middle-box .first-icon {
  margin-top: 10%;
}
.home-page-content .main-container .bottom-box .right-middle-box {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1100px) {
  .home-page-content .main-container .bottom-box .right-middle-box {
    width: 55%;
  }
}
@media (max-width: 850px) {
  .home-page-content .main-container .bottom-box .right-middle-box {
    width: 95%;
  }
}
.home-page-content .main-container .bottom-box .right-middle-box img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.home-page-content .main-container .bottom-box .right-middle-box h3 {
  text-align: center;
  padding: 10% 0 0 10%;
  font-weight: 600;
}
@media (max-width: 850px) {
  .home-page-content .main-container .bottom-box .right-middle-box h3 {
    font-size: 2.8rem;
    padding: 0;
    margin: 5% 0;
  }
}
.home-page-content .main-container .bottom-box .right-middle-box .whos_going {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  padding: 10% 0 0 15%;
}
@media (max-width: 1100px) {
  .home-page-content .main-container .bottom-box .right-middle-box .whos_going {
    flex-direction: column;
  }
}
@media (max-width: 850px) {
  .home-page-content .main-container .bottom-box .right-middle-box .whos_going {
    flex-direction: row;
    padding: 0;
    border-bottom: 1px solid #293D3D;
  }
}
.home-page-content .main-container .bottom-box .right-middle-box .whos_going .p1,
.home-page-content .main-container .bottom-box .right-middle-box .whos_going .p2,
.home-page-content .main-container .bottom-box .right-middle-box .whos_going .p3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-page-content .main-container .bottom-box .right-middle-box .whos_going .p1:hover img,
.home-page-content .main-container .bottom-box .right-middle-box .whos_going .p2:hover img,
.home-page-content .main-container .bottom-box .right-middle-box .whos_going .p3:hover img {
  width: 80px;
  height: 80px;
}
@media (max-width: 1100px) {
  .home-page-content .main-container .bottom-box .right-middle-box .whos_going .p1,
  .home-page-content .main-container .bottom-box .right-middle-box .whos_going .p2,
  .home-page-content .main-container .bottom-box .right-middle-box .whos_going .p3 {
    margin: 20px 0;
  }
}
.home-page-content .main-container .bottom-box .right-middle-box .whos_going .p1 p,
.home-page-content .main-container .bottom-box .right-middle-box .whos_going .p2 p,
.home-page-content .main-container .bottom-box .right-middle-box .whos_going .p3 p {
  color: #293D3D;
  margin-top: 20px;
}
@media (max-width: 1100px) {
  .home-page-content .main-container .bottom-box .right-middle-box .whos_going .p1 p,
  .home-page-content .main-container .bottom-box .right-middle-box .whos_going .p2 p,
  .home-page-content .main-container .bottom-box .right-middle-box .whos_going .p3 p {
    margin: 0;
  }
}
.landing-page .main-content {
  display: flex;
  padding-top: 4%;
  background-image: url(/img/landing-page-bg.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-bottom: 5%;
}
.landing-page .main-content .text {
  width: 30%;
  margin-left: 2%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-direction: column;
  background-color: #ffffff;
}
@media (max-width: 1100px) {
  .landing-page .main-content .text {
    width: 25%;
  }
}
@media (max-width: 850px) {
  .landing-page .main-content .text {
    line-height: 3rem;
    justify-content: flex-start;
    padding-top: 2%;
  }
}
.landing-page .main-content .text #create {
  width: 100%;
  padding: 10% 25% 0 10%;
  line-height: 4rem;
}
@media (max-width: 1100px) {
  .landing-page .main-content .text #create {
    padding-right: 18%;
  }
}
@media (max-width: 850px) {
  .landing-page .main-content .text #create {
    padding-right: 12%;
    line-height: 3rem;
  }
}
.landing-page .main-content .text #create h2 {
  padding-bottom: 2rem;
}
@media (max-width: 1100px) {
  .landing-page .main-content .text #create h2 {
    font-size: 3rem;
  }
}
@media (max-width: 850px) {
  .landing-page .main-content .text #create h2 {
    font-size: 2.6rem;
  }
}
@media (max-width: 700px) {
  .landing-page .main-content .text #create h2 {
    font-size: 2.1rem;
  }
}
.landing-page .main-content .text #create p {
  line-height: 2rem;
}
@media (max-width: 850px) {
  .landing-page .main-content .text #create p {
    font-size: 1.4rem;
  }
}
.landing-page .main-content .text #create #find {
  border-bottom: 1px solid black;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 20%;
}
.landing-page .main-content .text button {
  background-color: #F9DFB9;
  width: auto;
  height: 60px;
  border-radius: 10px;
  border: none;
  margin: 25% 5%;
}
.landing-page .main-content .icons {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 60%;
  margin-right: 7%;
  padding-top: 1%;
  background-color: #ffffff;
  height: 120px;
}
@media (max-width: 1200px) {
  .landing-page .main-content .icons {
    height: 90px;
  }
}
@media (max-width: 1100px) {
  .landing-page .main-content .icons {
    justify-content: center;
    align-content: flex-start;
    width: 65%;
  }
}
@media (max-width: 850px) {
  .landing-page .main-content .icons {
    height: 65px;
  }
}
.landing-page .main-content .icons .icon-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 1%;
  flex-wrap: nowrap;
  font-size: 2.8rem;
  line-height: 3.8rem;
  width: 100%;
}
@media (max-width: 1200px) {
  .landing-page .main-content .icons .icon-text {
    font-size: 2rem;
  }
}
@media (max-width: 1100px) {
  .landing-page .main-content .icons .icon-text {
    padding-top: 3%;
  }
}
@media (max-width: 850px) {
  .landing-page .main-content .icons .icon-text {
    padding-top: 0;
  }
}
.landing-page .main-content .icons .icon-text p {
  flex-wrap: nowrap;
  width: 100%;
  font-size: 1.4rem;
}
@media (max-width: 1200px) {
  .landing-page .main-content .icons .icon-text p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media (max-width: 1100px) {
  .landing-page .main-content .icons .icon-text p {
    font-size: 1.2rem;
    margin: 0 2%;
  }
}
@media (max-width: 850px) {
  .landing-page .main-content .icons .icon-text p {
    display: none;
  }
}