// About Page Styles

.about-container{
  margin: 0 auto;
  width: 80%;

  img{
    height: auto;
    width: auto;
    border-radius: 30%;
  }

  a, h2, h3, h4{
    color: @text-color;
  }

  .normal-person{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4% 0;
    background: @silver100;
    border-radius: 10px;

    .pContent-left{
      width: 30%;
    }
  }
  .reverse-person{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 4% 0;
    background: @silver;
    border-radius: 10px;

    .pContent-right{
      width: 30%;
    }
  }
  
  
}//end of about container

