// Footer Styles

.foot-container{
  width: 100%;

  footer{
  display:flex;
  background: @footer-bg;
  padding: 4% 5%;

    .footCol1{
      width: 20%;
      display: flex;
      flex-direction: column;
    }
    .footCol2{
      width: 20%;
      display: flex;
      flex-direction: column;
    }
    .footCol3{
      width: 20%;
      display: flex;
      flex-direction: column;
    }
    .footCol4{
      width: 20%;
      display: flex;
      flex-direction: column;
    }

  }//End of Footer

}//End of Foot Container
