//Landing Page Styles
.landing-page{
  background-image: url(/img/landing-page-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;

  .main-content{
    .justAlign(center, center);
    width: 1300px;
    // padding: 5%;
  }
  .text{
    background-color: @white;
    width:341px;
  }
  button{
    background-color: @btn-bg-color;
    width: 280px;
    height: 60px;
    border-radius: 10px;
    border: none;
  }
  .icons{
    background-color: @white;
    height: 120px;
    font-size: 4rem;
  }
}
