// Navigation Styles

.nav-container{
  background: @nav-bg;
  width: 100%;
  padding-bottom: 1%;

  header{
    .flex();
    .justAlign(center, center);
    padding: 24px 0 5px 0;
    width: 95%;
    margin: 0 auto;

    h2, a{
      color: @white;
    }

    nav{
      align-items: flex-end;
    }

    .left-nav{
      display: flex;
      justify-content: space-evenly;
      width: 30%;

      @media @tablet{
        width: 50%;
      }
    }//end of left nav

    .right-nav{
      display: flex;
      justify-content: flex-end;
      width: 70%;

      a{
        margin-right: 5%;
      }
    }//end of right nav

  }//end of header
}//end of nav container