// Navigation Styles

.nav-container{
  background: @nav-bg;
  width: 100%;
  padding-bottom: 1%;

  header{
    .flex();
    .justAlign(center, center);
    padding: 24px 0 5px 0;
    width: 95%;
    margin: 0 auto;

    h2, a{
      color: @white;
      @media @tabletS{
        font-size: 1.3rem;
      }
    }

    h2{
      @media @tabletS{
        font-size: 2.5rem;
      }
    }
    nav{
      align-items: flex-end;
    }

    .left-nav{
      display: flex;
      justify-content: flex-start;
      width: 55%;

      @media @desktop{
        width: 60%;
      }

      @media @mobile{
        margin-right: 2%;
      }

      a{
        margin-right: 5%;
        margin-left: 5%;

        @media @tabletS{
          margin-right: 2%;
        }

        
      }

      @media @mobile{
        width: 75%;
      }
    }//end of left nav

    .right-nav{
      display: flex;
      justify-content: flex-end;
      width: 30%;

      @media @tablet{
        width: 40%;
      }

      a{
        margin-right: 5%;

        @media @tabletS{
          margin-right: 3%;
        }
      }
    }//end of right nav

  }//end of header
}//end of nav container