//Variables

//Color pointers

@nav-bg: @teal-blue;
@header-bg: @gray-blue;
@text-color: @outerspace;
@btn-bg-color: @manhattan;

//Color Variables
@white: #ffffff;

//Primary Colors
@dairy-cream: #F9DFB9;
@manhattan: #F9DFB9;
@carrot-orange: #EC9A20;
@mystic: #E0EAEB;
@outerspace: #293D3D;
@teal-blue: #033F4C;
@gray-blue: #5CA2A9;

//Grey Colors
@soft-amber: #ccc2b280;
@silver:#c4c4c45c;
@silver100:#c4c4c4;
@emperor: #4f4f4f;

//Accent Colors
@pomegranate: #f43e3e;
