//Variables

//Color pointers

@nav-bg: @teal-blue;
@header-bg: @gray-blue;
@text-color: @outerspace;
@footer-bg: @silver;
@footer-links: @emperor;
@button-color: #F5CA8A;

//Primary Colors
@dairy-cream: #F9DFB9;
@manhattan: #F9DFB9;
@carrot-orange: #EC9A20;
@mystic: #E0EAEB;
@outerspace: #293D3D;
@teal-blue: #033F4C;
@gray-blue: #5CA2A9;

//Grey Colors
@soft-amber: rgba(204,194,178, 0.50);
@silver:rgba(196, 196, 196, 0.36);
@silver100:rgba(196,196,196);
@emperor: rgba(79,79,79, 0.65);

//Accent Colors
@pomegranate: rgba(244,62,62);

// Mobile var
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 850px)";
@desktop: ~"(max-width: 1000px)";
